
.cRowPickerList {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  top:0;
  bottom:0;
}
.rowPicker{
  position: absolute;
  top:0;
  bottom:0;
  width: 54px;
  border: 3px solid blue;
  background-color:#222244;
  overflow: hidden;
  user-select: none;
}
.rowPicker.rightAlign{
	right: 0px;
}
.rowPicker.leftAlign{
	left: 0px;
}
.scrolleRButton{
  list-style-type: none;
  width: 46px;
  height: 32px;
  float: left;
  padding: 0;
  margin: 0 ;
  border-width: 4px;
  border-style: ridge;
  background: #000044;
  color: #44FFFF;
}
.scrolleRButton a{
	color: #00FFFF;
}
.scrolleRButton.cTop{
  position: absolute;
  top:0;

}
.scrolleRButton.cBottom{
  position: absolute;
  bottom:0;
}
.scrolleRButton.center {
    padding:4px;
    text-align: center;
}
.tibRowButton{
  list-style-type: none;
  width: 44px;
  height: 22px;
  /*padding: 0.25em;*/
  float: left;
  /*padding-left: 3px; */
  padding: 0;
  margin: 0 ;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  background: #222244;
  color: #44FFFF;
}
.tibRowButton span{
	text-align: center;
	color: #00FFFF;
}
.tibRowButton.selected, .tibRowButton.group{
    border-width: 2px;
	color: #FFFFFF;
}
.tibRowButton.selected{
	background: #DDEEFF;
}
.tibRowButton.group{
	background: #4444FF;
}
.tibRowButton.selected.group{
	background: #DDFF66;
}
.tibRowButton.selected span, .tibRowButton.group span{
    font-weight:bold;
}
.tibRowButton.selected span{
	color: #000000;
}
.tibRowButton.group span{
	color: #FFFFFF;
}
.tibRowButton.selected.group span{
	color: #0000FF;
}
.tibRowButton.tattoo, .tibRowButton.group.tattoo, .tibRowButton.selected.tattoo, .tibRowButton.group.selected.tattoo{
    border-right-width: 5px;
    border-right-color: #FFBB00;
}


